
{% extends 'base.html' %}

{% block body %}
<h2 style="text-align: center;">Welcome to the password changer!</h2>
    <br>
<p style="text-align: center;">A successful password change will bring you back to the home page! Else an error message will appear!</p>
<br>

    <div class="container" style="padding-left: 10%"
        <form method="post" >
          {% csrf_token %}
            <br>
          {{ form }}
            <br>
          <button type="submit">Save changes</button>
        </form>
    </div>
{% endblock %}