{% extends 'base.html' %}


{% block head %}
<title>Report</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Report</h1>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Select Major</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option> </option>
            <option>CS</option>
            <option>IS</option>
            <option>other</option>
        </select>
    </div>
    
    <div class="form-group">
        <label for="exampleFormControlSelect1">Select Start Quarter</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option> </option>
            <option>Fall</option>
            <option>Winter</option>
            <option>Spring</option>
            <option>Summer</option>
        </select>
    </div>
    
    <div class="form-group">
        <label for="exampleFormControlSelect1">Select Degree</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option> </option>
            <option>CS</option>
            <option>IS</option>
        </select>
    </div>
    
    <div class="form-group">
        <label for="exampleFormControlSelect1">Select Concentration</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option> </option>
            <option>CS - Software and System Dev</option>
            <option>CS - Theory</option>
            <option>CS - Data Science</option>
            <option>CS - Database Systems</option>
            <option>CS - Artificial Inteligence</option>
            <option>CS - Software Engineering </option>
            <option>CS - Game - Real Time Systems</option>
            <option>CS - Human - Computer Interaction</option>
            <option>IS - Business Analysis</option>
            <option>IS - System Analysis</option>
            <option>IS - Business Intelligence</option>
            <option>IS - Database Administration</option>
            <option>IS - IT Enterprise Management</option>
            <option>IS - Standard</option>
        </select>
    </div>
    
    <div class="form-group">
        <label for="exampleFormControlSelect1">Select Courses Per Quarter</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option> </option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
        </select>
    </div>
    
    
    <button type="submit">What-if Report</button>
    <button type="submit">Progress Report</button>

    
    
</div>

{% endblock %}
